@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital@0;1&family=Poppins:wght@100;300;400;500&family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 67.5%;
}
body{
    font-family: poppins;
}
header{
    height: 90vh;
    background-image: url(./cbc-images/unsplash_FCHlYvR5gJI.png);
    position: relative;
}
nav{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 1.3rem 0;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 5rem;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}
.span1{
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
}
.btn1{
    background-color: rgb(0, 216, 153);
    padding: 1rem 3rem;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.cont1{
    width: 70%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cont1 h1{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 3rem;
}
.span2{
    color: rgb(0, 216, 153);
}
.cont1 p{
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 1.5rem;
}
.btn2{
    width: 30%;
    border-radius: 2rem;
    background-color: rgb(0, 216, 153);
    border: none;
    outline: none;
    padding: 1rem 2rem;
    color: #fff;
    cursor: pointer;
}
.comment img{
    width: 7%;
    position: absolute;
    right: 7rem;
    bottom: 5rem;
}
.cont2{
    display: flex;
    width: 85%;
    margin: auto;
    gap: 3rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding: 1rem;
}
.cont2-left{
    flex-basis: 35%;
}
.cont2-left h2{
    font-size: 2.1rem;
}
.span3{
    color: rgb(0, 216, 153);
}
.cont2-right{
    display: grid;
    grid-template-areas: 
    "web soft"
    "app brand";
    gap: 3rem;
    flex-basis: 60%;
}
.cont2-right img{
    width: 15%;
}
.website{
    grid-area: web;
}
.website h3{
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
.website p{
    font-size: 1.6rem;
}
.software{
    grid-area: soft;
}
.software h3{
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
.software p{
    font-size: 1.6rem;
}
.app{
    grid-area: app;
}
.app h3{
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
.app p{
    font-size: 1.6rem;
}
.brand{
    grid-area: brand;
}
.brand h3{
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
.brand p{
    font-size: 1.6rem;
}
.cont3{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    gap: 2rem;
    padding: 1rem 1.5rem;
}
.cont3-left{
    justify-content: space-between;
    display: flex;
}
.cont3a{
    flex-basis: 35%;
}
.cont3a h3{
    font-size: 2.4rem
}
.cont3b{
    flex-basis: 62.5%;
    padding: 0px 6rem 0 0;
}
.pting-p{
    margin-top: 2rem;
    font-size: 1.6rem;
}
.cont3b img{
    width: 5rem;
}
.cont3d-img img{
    width: 7%;
}
.span4{
    font-size: 3rem;
}
.cont3-right{
    justify-content: space-between;
    display: flex;
    padding: 1.5rem 0;
}
.cont3c{
    flex-basis: 35%;
}
.cont3c{
    font-size: 2.2rem;
}
.span5{
    color: rgb(0, 216, 153);
}
.cont3d{
    flex-basis: 62.5%;
}
.cont3d-img{
    margin-bottom: 5rem;
}
.cont3d-img span{
    color: rgb(0, 216, 153);
    font-size: 1.6rem;
}
footer{
    background-color: rgba(227, 227, 227, 0.5);
    padding: 3rem 7rem;
}
footer h4{
    font-size: 1.6rem;
}
.footer-list1 li{
    list-style: none;
    font-size: 1.6rem;
    margin: 2rem 0;
}
.footer-div{
    display: flex;
    justify-content: space-between;
}
.img-footer img img{
    width: 100%;
}
.img-footer span{
    font-size: 3rem;
}
.footer-list2 li{
    margin: 3rem 0;
    font-size: 1.6rem;
}
footer p{
    text-align: center;
    font-size: 1.5rem;
}
 
/* ---------------RESPONSIVE STYLING STARTS HERE ----------------- */
@media(max-width: 600px){
    nav ul{
        display: none;
    }
    .cont1{
    margin-top: 5rem;
    }
    .cont1 h1{
        font-size: 1.5rem;
    }
    .cont1 p{
        font-size: 1.5rem;
    }
    .btn2{
        width: 60%;
    }
    .comment img{
    width: 7%;
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    }
    .cont2{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cont2-left h2{
        text-align: center;
        font-size: 2rem;
    }
    .cont2-right{
        padding: 2rem 2.5rem;
        grid-template-areas: 
        "web"
        "soft"
        "app"
        "brand"
        ;
    }     
    .website, .software, .app, .brand{
        text-align: center;
    }
    .website h3{
        font-size: 1.5rem;
    }
    .website p{
        font-size: 1.5rem;
    }
    .software h3{
        font-size: 1.5rem;
    }
    .software p{
        font-size: 1.5rem;
    }
    .app h3{
        font-size: 1.5rem;
    }
    .app p{
        font-size: 1.5rem;
    }
    .brand h3{
        font-size: 1.5rem;
    }
    .brand p{
        font-size: 1.5rem;
    }
    .cont3-left{
        flex-direction: column;
    }
    .cont3a, .cont3b{
        text-align: center;
        padding: 1rem 1.5rem;
    }
    .cont3a h3{
        font-size: 1.7rem;
    }
    .pting-p{
        text-align: center;
    }
    .cont3b span{
        font-size: 2rem
    }
    .cont3-right{
        flex-direction: column;
    }
    .cont3c, .cont3d{
        text-align: center;
        padding: 1rem 1.5rem;
    }
    .cont3c h3{
        font-size: 2rem;
    }
    .cont3c p{
        font-size: 1.5rem;
    }
    .footer-div{
        flex-direction: column;
    }
    .footer-list1{
        margin: 1.5rem 0
    }
    footer p{
        font-size: 1.2rem;
    }
}
